.insurance-section {
    margin-top: 7%;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -10px;
}

.ins-form-module {
    margin-top: 2%;
}

label {
    margin-top: 10px;
}

.mob-num-btn {
    margin-top: 170%;
}

.mob-num-btn .fa-plus {
    color: green;
}

.mob-num-btn .fa-minus {
    color: red;
}

.veh-mob-num-btn {
    margin-top: 250%;
}

.veh-mob-num-btn .fa-plus {
    color: green;
}

.veh-mob-num-btn .fa-minus {
    color: red;
}

.ren-mob-num-btn {
    margin-top: 725%;
}

.ren-mob-num-btn .fa-plus {
    color: green;
}

.ren-mob-num-btn .fa-minus {
    color: red;
}

.back {
    margin-left: 15%;
}

.num-box {
    margin-left: -3%;
}

.pol-btn {
    margin-left: 43%;
}

.table-pad {
    margin-top: 10px;
}

.breadcrumb {
    margin-left: 46px;
}

.error-validation {
    color: #a94442;
    margin-bottom: 10px;
}

.report-form-module {
    margin-top: 10%;
}

.report-sec {
    margin-top: 7%;
    height: 100vh;
}





/*.horizontal-rule{
  clear:both;
  width:100%;
  background-color:#d1d1d1;
  height:1px;
  margin-top:20px;
  margin-bottom:10px;
}*/

.grid {
    width: auto;
    height: 575px;
}


.md-datepicker-calendar-pane {
    z-index: 2000!important;
}

.alert-success {
    margin-top: 10px;
}

.btn-pos {
    margin-top: 28px;
}

.table-last-head {
    width: 50px;
}

.report-search-btn {
    margin-top: 33px;
}

.datepicker-pos {
    margin-left: -184px;
}







/*Over ride*/

.table-container {
    margin: 10px;
}


.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    font-size: medium;
    background-color: #FAA519;
}

.smoothScroll {
    color: #fff!important;
}

.navbar-inverse {
    background-color: #004E95;
    border-color: #004E95;
}

.table-header {
    background-color: #C6E2FF;
}

.table-header td {
    color: #fff;
}


.table-amount {
    text-align: right;
}

.search-icon i:hover {
    cursor: pointer;
}

.table-icon .fa-pencil-square-o {
    color: red;
    margin-left: 26%;
}

.table-icon .fa-recycle {
    color: green;
    margin-left: 32%;
}

.daterangepicker {
    top: 134.016px!important;
}

.ins-date-label {
    margin-left: 9%;
}

.ui-grid-header-cell-row {
    background-color: #C6E2FF;
}

.ui-grid-menu-button {
    background: #FAA519;
    height: 61px;
}





/*Start*/

.veh-make {
    margin-bottom: 16%;
    margin-left: -3%;
}

.veh-make-btn {
    margin-top: 57%;
}

.grid-align {
    text-align: right;
}

.master-section {
    margin-top: 90px;
}

.master-section .panel-default>.panel-heading {
    background-color: #C6E2FF;
}

.master-btn {
    background-color: #337ab7;
    color: #fff;
}

.input-group-addon {
    border: 1px solid #337ab7;
}

.logo {
    margin-bottom: -5px;
}

.veh-checkbox {
    margin-left: 10px!important;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #404040;
    text-align: center;
}

.table-pad {
    margin-bottom: 5%;
}

.ins-section {
    margin-bottom: 2%;
}

.footer-logo {
    margin-right: 20px;
}

.widget .pull-left {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.com-enq {
    margin-left: 28%;
    color: #FAEBD7!important;
}