<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h3>Add Make </h3>
</div>
<div class="modal-body clearfix">
	 <div class="input-group">
		  <input type="text" class="form-control" placeholder="Add New Vehicle Make" ng-model="makeParams.make">
		  <span class="input-group-addon" ng-click="addNewMake()">Save</span>
     </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>