`
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h3> Edit General Insurance </h3>
</div>
<div class="modal-body clearfix">
    <div class="well col-sm-12 col-md-12">
        <form name="generalInsForm" class="css-form" novalidate ng-submit="saveGeneralInsDetails(generalInsForm)">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Entry Date</label>
                        <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="generalInsuranceParams.entryDate "  is-open="entryDatePopup.opened " close-text="Close "   placeholder="Entry Date "  required name="entryDatePicker"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEntryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                        
                        <div ng-show="generalInsForm.$submitted || generalInsForm.entryDatePicker.$touched">
                            <div class="error-validation" ng-show="generalInsForm.entryDatePicker.$error.required">Entry Date is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" placeholder="Enter Name" ng-model="generalInsuranceParams.name" required="" name="uName">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.uName.$touched">
                            <div class="error-validation" ng-show="generalInsForm.uName.$error.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" placeholder="Enter Land Line#" ng-model="generalInsuranceParams.phoneNumber"  name="phoneNumber">
                      <!--   <div ng-show="generalInsForm.$submitted || generalInsForm.phoneNumber.$touched">
                            <div class="error-validation" ng-show="generalInsForm.phoneNumber.$error.required">Phone number is required</div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" placeholder="Enter Email" ng-model="generalInsuranceParams.email"  name="uEmail" type="email">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.uEmail.$touched">
                            <!-- <span class="error-validation" ng-show="generalInsForm.uEmail.$error.required">Email is required</span> -->
                            <span class="error-validation" ng-show="generalInsForm.uEmail.$error.email">This is not a valid email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows="8" placeholder="Enter Address" ng-model="generalInsuranceParams.address" name="uAddress"></textarea>
                        <!-- <div ng-show="generalInsForm.$submitted || generalInsForm.uAddress.$touched">
                            <div class="error-validation" ng-show="generalInsForm.uAddress.$error.required">Address is required</div>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                     <div class="form-group">
                        <label>Policy Type</label>
                      
                            <select class="form-control" ng-options="item as item.PolicyTypeName for item in policyTypeList track by item.PolicyTypeName" ng-model="generalInsuranceParams.policyType" class="form-control" name="policyType" required >
                            </select>
                        <div ng-show="generalInsForm.$submitted || generalInsForm.policyType.$touched">
                            <div class="error-validation" ng-show="generalInsForm.policyType.$error.required">Policy Type is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Policy Number</label>
                        <input class="form-control" placeholder="Enter Policy Number" ng-model="generalInsuranceParams.policyNumber" required="" name="policyNumber">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.policyNumber.$touched">
                            <div class="error-validation" ng-show="generalInsForm.policyNumber.$error.required">Policy Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sum assured</label>
                        <input class="form-control" placeholder="Enter Sum Assured" ng-model="generalInsuranceParams.sumAssured" required="" name="sumAssured">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.sumAssured.$touched">
                            <div class="error-validation" ng-show="generalInsForm.sumAssured.$error.required">Sum Assured is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Premium Amout</label>
                        <input type="number" class="form-control" placeholder="Enter Premium Amount" ng-model="generalInsuranceParams.premiumAmount" required="" name="premiumAmount">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.premiumAmount.$touched">
                            <div class="error-validation" ng-show="generalInsForm.premiumAmount.$error.required">Premium amount is required</div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label>Expiry Date</label>
                       <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="generalInsuranceParams.expiryDate"  is-open="expiryDatePopup.opened " close-text="Close "  placeholder="Expiry Date " show-weeks="false " required name="datePicker"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openExpiryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                        <div ng-show="generalInsForm.$submitted || generalInsForm.datePicker.$touched">
                            <div class="error-validation" ng-show="generalInsForm.datePicker.$error.required">Expiry date is required</div>
                        </div>
                    </div>
                    <span data-ng-repeat="mobNum in generalInsuranceParams.mobileNumber ">
                    <div class="col-md-8 num-box">
                        <div class="form-group" >
                            <label>Mobile Number</label>
                            <ng-form name="innerForm">
                                <input type="number" class="form-control" ng-model="mobNum.name"  placeholder="Enter Mobile Number"  required="" name="mobileNum">   
                                <div ng-show="generalInsForm.$submitted || generalInsForm.mobileNum.$touched">
                                <div class="error-validation" ng-show="innerForm.mobileNum.$error.required">Mobile number is   required</div>
                                </div>
                            </ng-form>      
                        </div>
                    </div>

                    <div class="col-md-1 btn-pos">
                        <button type="button" class="btn btn-sm mob-num-btn" ng-click="addNewNumber($index)" ng-show="showNumPlus($index)">
                           <i class="fa fa-plus" ></i>
                        </button>
                    </div>
                    <div class="col-md-1 btn-pos">
                        <button type="button" class="btn btn-sm mob-num-btn" ng-click="deleteNewNumber($index)" ng-show="generalInsuranceParams.mobileNumber.length>1">
                           <i class="fa fa-minus" ></i>
                        </button>
                    </div>
                 </span>
                </div>
            </div>
            <div class="row pol-btn">
                <button type="submit" class="btn btn-primary">Edit General Insurance Details</button>
            </div>
        </form>
    </div>
    <div ng-show="saveGeneralInsMessage" class="alert alert-success alert-dismissible" ng-click="saveGeneralInsMessage=false">
        <button type="button" class="close" data-dismiss="alert" ng-click="error=false"><span aria-hidden="true">&times;</span></button>
        Insurace updated succefully
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="editGeneralInsDisabled">Close</button>
</div>