<footer class="footer" ng-controller="FooterController">
    <div class="col-md-12 widget">
    	<span class="pull-left">© 2017 | All Rights Reserved</span> 
    	<span class="pull-left com-enq">For Commercial Enquiry - call (+91-9961-41-71-41)</span> 
    	<span class="pull-right footer-logo">
      	  <img src="../images/fabfooter1.png">
        </span>
    </div>
</footer>