<ng-include src="'/views/header.html'"></ng-include>
<div class="container report-sec">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>General Insurance Report</h4>
            <div class="col-md-12 ">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" value="E" ng-model="dateType"> Entry Date
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" " value="X " ng-model="dateType "> Expiry Date
                            </label>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-8 ">
                    <div class="col-sm-4 ">
                        <label class="ins-date-label ">From Date</label>
                        <!-- <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="datePicker.date.startDate "  is-open="fromDatePopup.opened " close-text="Close " ng-click="openFromDate() " placeholder="From Date " /> -->
                         <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="datePicker.date.startDate "  is-open="fromDatePopup.opened " close-text="Close "   placeholder="From Date " />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>


                    </div>
                    <div class="col-sm-4 ">
                        <label class="ins-date-label ">To Date</label>
                        <!-- <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="datePicker.date.endDate "  is-open="endDatePopup.opened " close-text="Close " ng-click="openEndDate() " placeholder="To Date " /> -->
                        <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="datePicker.date.endDate "  is-open="endDatePopup.opened " close-text="Close "   placeholder="From Date " />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>
               
                <div class="col-sm-2 report-search-btn ">
                      <button type="submit " class="btn btn-primary " ng-click="searchGenInsReport() ">Search</button>
                </div>
            </div>
        </div>
    </div>
       <div ng-if="gridOptions.data.length>0">
                                <div id="grid1" ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter class="grid"></div>
                        </div>
                    </div>
                    <ng-include src="'/views/footer.html'"></ng-include>