<ng-include src="'/views/header.html'"></ng-include>
<div class="ins-section">

<div class="insurance-section" ng-init="generalInsPolictType()">
    <div class="container">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search by Mobile Number" ng-keydown="searchGeneralIns($event)" ng-model="generalInsSearchParams.MobileNumber" />
            <a class="search-icon">
                <i class="fa fa-search" ng-click="searchGenIns()"></i>
            </a>

        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search by Policy Number" ng-keydown="searchGeneralIns($event)" ng-model="generalInsSearchParams.PolicyNumber">
            <a class="search-icon">
                <i class="fa fa-search" ng-click="searchGenIns()"></i>
            </a>
        </div>

    </div>
</div>

<div class="row col-md-12" ng-if="generalInsSearchResults.length>0">
    <ul class="breadcrumb table-pad">
        <li ng-click="showSaveGeneralInsForm()"><a><i class="fa fa-backward"><span class="back">Back</span></i></a>
        </li>
    </ul>
</div>


<div   ng-show="saveGeneralInsMessage" class="alert alert-success alert-dismissible" ng-click="saveGeneralInsMessage=false">
        <button type="button" class="close" data-dismiss="alert" ng-click="error=false" ><span aria-hidden="true">&times;</span></button>
        Insurace saved succefully
</div>


<div class="row table-pad" ng-if="generalInsSearchResults.length > 0">
    <div class="col-md-12">
        <div class="table-responsive table-container">
            <table class="table table-bordered table-hover">

                <thead  class="table-header">
                    <tr>
                        <th>Name</th>
                        <th>Policy#</th>
                        <th>Entry Date</th>
                      <!--   <th>Address</th> -->
                        <th>Phone#</th>
                        <th>Mobile#</th>
                        <!-- <th>Email</th> -->
                        <th>Sum Assured</th>
                        <th>Premium Amount</th>
                        <th>Policy Type</th>
                        <th>Expiry Date</th>
                        <th>Edit</th>
                        <th>Renewal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="genIns in generalInsSearchResults">
                        <td>{{genIns.Name}}</td>
                        <td>{{genIns.PolicyNumber}}</td>
                        <td>{{genIns.EntryDate | date : "dd-MM-yyyy" }}</td>
                      <!--   <td>{{genIns.Address}}</td> -->
                        <td>{{genIns.PhoneNumber}}</td>
                        <td>{{genIns.MobileNumber1}}</td>
                       <!--  <td>{{genIns.Email}}</td> -->
                        <td class="table-amount">{{genIns.SumAssured | number:2 }}</td>
                        <td class="table-amount">{{genIns.PremiumAmount | number:2}}</td>
                        <td>{{genIns.PolicyType.PolicyTypeName}}</td>
                        <td>{{genIns.ExpiryDate | date : "dd-MM-yyyy"}}</td>
                        <td class="table-icon">
                            <i uib-tooltip="Edit Record" class="fa fa-pencil-square-o" ng-click="showEditGeneralInsModal($index)"></i>
                        </td>
                        <td class="table-icon">
                            <i uib-tooltip="Renewal" class="fa fa-recycle" ng-click="showRenewGeneralInsModal($index)"></i>

                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>


<div class="container ins-form-module" ng-if="generalInsSearchResults.length == 0">
    <div class="well col-sm-12 col-md-12">
        <form name="generalInsForm" class="css-form" novalidate ng-submit="saveGeneralInsDetails(generalInsForm)">
            <div class="row">
                <div class="col-sm-6 col-md-6">

                    <div class="form-group">
                        <label>Entry Date</label>
                        <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="generalInsuranceParams.entryDate "  is-open="entryDatePopup.opened " close-text="Close "   placeholder="Entry Date "  required name="entryDatePicker"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEntryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                        
                        <div ng-show="generalInsForm.$submitted || generalInsForm.entryDatePicker.$touched">
                            <div class="error-validation" ng-show="generalInsForm.entryDatePicker.$error.required">Entry Date is required</div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" placeholder="Enter Name" ng-model="generalInsuranceParams.name" required="" name="uName">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.uName.$touched">
                            <div class="error-validation" ng-show="generalInsForm.uName.$error.required">Name is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Land Line#</label>
                        <input class="form-control" placeholder="Enter Land Line#" ng-model="generalInsuranceParams.phoneNumber"  name="phoneNumber">
                        <!-- <div ng-show="generalInsForm.$submitted || generalInsForm.phoneNumber.$touched">
                            <div class="error-validation" ng-show="generalInsForm.phoneNumber.$error.required">Phone number is required</div>
                        </div> -->
                    </div>


                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" placeholder="Enter Email" ng-model="generalInsuranceParams.email"  name="uEmail" type="email">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.uEmail.$touched">
                           <!--  <span class="error-validation" ng-show="generalInsForm.uEmail.$error.required">Email is required</span> -->
                            <span class="error-validation" ng-show="generalInsForm.uEmail.$error.email">This is not a valid email</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows="4" placeholder="Enter Address" ng-model="generalInsuranceParams.address"  name="uAddress"></textarea>
                      <!--   <div ng-show="generalInsForm.$submitted || generalInsForm.uAddress.$touched">
                            <div class="error-validation" ng-show="generalInsForm.uAddress.$error.required">Address is required</div>
                        </div> -->
                    </div>


                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                       <label>Policy Type</label>
                      
                             <select class="form-control" ng-options="item as item.PolicyTypeName for item in policyTypeList " 
                               ng-model="generalInsuranceParams.policyType.PolicyTypeId" class="form-control" name="policyType" required ng-value="item.PolicyTypeId" >
                             </select>



                         <div ng-show="generalInsForm.$submitted || generalInsForm.policyType.$touched">
                            <div class="error-validation" ng-show="generalInsForm.policyType.$error.required">Policy Type is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Policy#</label>
                        <input class="form-control" placeholder="Enter Policy#" ng-model="generalInsuranceParams.policyNumber" required="" name="policyNumber">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.policyNumber.$touched">
                            <div class="error-validation" ng-show="generalInsForm.policyNumber.$error.required">Policy Number is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Sum assured</label>
                        <input class="form-control" placeholder="Enter Sum Assured" ng-model="generalInsuranceParams.sumAssured" required="" name="sumAssured" type="number">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.sumAssured.$touched">
                            <div class="error-validation" ng-show="generalInsForm.sumAssured.$error.required">Sum Assured is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Premium Amount</label>
                        <input type="number" class="form-control" placeholder="Enter Premium Amount" ng-model="generalInsuranceParams.premiumAmount" required="" name="premiumAmount">
                        <div ng-show="generalInsForm.$submitted || generalInsForm.premiumAmount.$touched">
                            <div class="error-validation" ng-show="generalInsForm.premiumAmount.$error.required">Premium amount is required</div>
                        </div>
                    </div>
                    
                   

                    


                    <div class="form-group">
                        <label>Expiry Date</label>
                        <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="generalInsuranceParams.expiryDate"  is-open="expiryDatePopup.opened " close-text="Close "  placeholder="Expiry Date " show-weeks="false " required name="datePicker"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openExpiryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                        <div ng-show="generalInsForm.$submitted || generalInsForm.datePicker.$touched">
                            <div class="error-validation" ng-show="generalInsForm.datePicker.$error.required">Expiry date is required</div>
                        </div>
                    </div>

                    <span data-ng-repeat="mobNum in generalInsuranceParams.mobileNumber ">
                    <div class="col-md-8 num-box">
                        <div class="form-group" >
                            <label>Mobile#</label>
                            <ng-form name="innerForm">
                                <input type="number" class="form-control" ng-model="mobNum.name"  placeholder="Enter Mobile#"  required="" name="mobileNum">   
                                <div ng-show="generalInsForm.$submitted || generalInsForm.mobileNum.$touched">
                                <div class="error-validation" ng-show="innerForm.mobileNum.$error.required">Mobile number is   required</div>
                                </div>
                            </ng-form>      
                        </div>
                    </div>

                    <div class="col-md-1">
                        <button type="button" class="btn btn-sm veh-mob-num-btn" ng-click="addNewNumber($index)" ng-show="showNumPlus($index)">
                           <i class="fa fa-plus" ></i>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-sm veh-mob-num-btn" ng-click="deleteNewNumber($index)" ng-show="generalInsuranceParams.mobileNumber.length>1">
                           <i class="fa fa-minus" ></i>
                        </button>
                    </div>
                 </span>





                </div>
            </div>
            <div class="row pol-btn">
                <button type="submit" class="btn btn-primary" ng-disabled="saveGenInsButtonDisabled">Save General Insurance Details</button>
            </div>
        </form>
    </div>
</div>
</div>
<ng-include src="'/views/footer.html'"></ng-include>
