<div id="navbar-main" ng-controller="HeaderController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="logo">
                        <img src="../images/logo.png" alt="logo.png">
                    </li>
                    <li ng-class="{ active: isActive('/masters')}"> <a href="#/masters" class="smoothScroll">Masters</a>
                    </li>
                    <li ng-class="{ active: isActive('/')}"><a href="#/" class="smoothScroll">Vehicle Insurance</a>
                    </li>
                    <li ng-class="{ active: isActive('/general-insurance')}"> <a href="#/general-insurance" class="smoothScroll">General Insurance</a>
                    </li>
                    <li ng-class="{ active: isActive('/veh-ins-report')}"> <a href="#/veh-ins-report" class="smoothScroll">Vehicle Insurance Report</a>
                    </li>
                    <li ng-class="{ active: isActive('/gen-ins-report')}"> <a href="#/gen-ins-report" class="smoothScroll">General Insurance Report</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>