<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" name="loginForm" novalidate ng-submit="insLogin(loginForm)">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" class="form-control" placeholder="User Name" ng-model="loginCredentials.username" required name="uName">
            <div ng-show="loginForm.$submitted || loginForm.uName.$touched">
                <div class="error-validation" ng-show="loginForm.uName.$error.required">username is required</div>
            </div>
            <input type="password" class="form-control" placeholder="Password" required ng-model="loginCredentials.password" name="password">
              <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                <div class="error-validation" ng-show="loginForm.password.$error.required">password is required</div>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>
        <span>
            <p class="img-logo"><a>Powered By</a> <img  src="../images/logo2.png"/></p>            
        </span>
        <a ng-href="google.com" target="_blank" >sdfsdfdsfsf</a>
    </div>
</div>
