<ng-include src="'/views/header.html'"></ng-include>
<div class="container master-section">
    <div class="panel panel-default">
        <div class="panel-heading">Vehicle Make</div>
        <div class="panel-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add New Vehicle Make" ng-model="params.vehicleMake">
                <span class="input-group-addon master-btn" ng-click="addNewMake()">Save</span>
            </div>
            <span class="error-validation" ng-if="paramsValidations.vehicleMake">Enter Vehicle Make</span>
        </div>
    </div>
</div>
<div ng-show="saveVehicleMakeMessage" class="alert alert-success alert-dismissible" ng-click="saveVehicleMakeMessage=false">
    <button type="button" class="close" data-dismiss="alert" ng-click="error=false"><span aria-hidden="true">&times;</span></button>
    Vehicle Make saved succefully
</div>
<div ng-show="savePolicyTypeMessage" class="alert alert-success alert-dismissible" ng-click="savePolicyTypeMessage=false">
    <button type="button" class="close" data-dismiss="alert" ng-click="error=false"><span aria-hidden="true">&times;</span></button>
    Policy Type saved succefully
</div>
<div class="container master-section">
    <div class="panel panel-default">
        <div class="panel-heading">General Policy Type</div>
        <div class="panel-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add New General Policy Type" ng-model="params.policyType"> 
                <span class="input-group-addon  master-btn" ng-click="addNewPolicyType()">Save</span>
            </div>
            <span class="error-validation" ng-if="paramsValidations.policyType">Enter Policy Type</span>
        </div>
    </div>
</div>
<ng-include src="'/views/footer.html'"></ng-include>

