<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h3> Renew Vehicle Insurance </h3>
</div>
<div class="modal-body clearfix">
    <form name="vehicleInsForm" class="css-form" novalidate ng-submit="saveVehicleInsDetails(vehicleInsForm)">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Entry Date</label>
                    <p class="input-group">
                        <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="vehicleinsuranceParams.entryDate " is-open="entryDatePopup.opened " close-text="Close " placeholder="Entry Date " required name="entryDatePicker" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEntryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.entryDatePicker.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.entryDatePicker.$error.required">Entry Date is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>RC Owner</label>
                    <input class="form-control" placeholder="Enter the Rc Owner name" name="rcOwner" required="" ng-model="vehicleinsuranceParams.rcOwner">
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.rcOwner.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.rcOwner.$error.required">Rc Owner is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Present Owner - Same as RC Owner </label>
                    <input class="veh-checkbox" type="checkbox" ng-click="sameAsPresentOwner()" ng-model="vehicleinsuranceParams.sameAs">
                    <input class="form-control" placeholder="Enter the present Owner name" name="presentOwner" required="" ng-model="vehicleinsuranceParams.presentOwner">
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.presentOwner.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.presentOwner.$error.required">Present Owner is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input class="form-control" placeholder="Enter the phone number" name="phoneNumber" ng-model="vehicleinsuranceParams.phoneNumber">
                    <!-- <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.phoneNumber.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.phoneNumber.$error.required">Phone nummber is required</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" placeholder="Enter the email" name="email" type="text" ng-model="vehicleinsuranceParams.email ">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" rows="4" placeholder="Enter the address" name="address" ng-model="vehicleinsuranceParams.address"></textarea>
                    <!--   <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.address.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.address.$error.required">Address is required</div>
                    </div> -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Make</label>
                    <div class="selectpicker">
                        <select ng-options="item as item.VehicleMakeName for item in makeList track by item.VehicleMakeName" ng-model="vehicleinsuranceParams.make" class="form-control" name="make" required>
                        </select>
                    </div>
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.make.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.make.$error.required">Make is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Premium Amount</label>
                    <input class="form-control" placeholder="Enter the premium amount" type="number" required="" name="premiumAmount" ng-model="vehicleinsuranceParams.premiumAmount">
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.premiumAmount.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.premiumAmount.$error.required">Premium Amount is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Vehicle Number</label>
                    <input class="form-control" placeholder="Enter the vehicle number" required="" name="vehicleNumber" ng-model="vehicleinsuranceParams.vehicleNumber">
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.vehicleNumber.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.vehicleNumber.$error.required">Vehicle Number is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Policy Number</label>
                    <input class="form-control" placeholder="Enter the policy number" required="" name="policyNumber" ng-model="vehicleinsuranceParams.policyNumber">
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.policyNumber.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.policyNumber.$error.required">Policy Number is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Expiry Date</label>
                    <p class="input-group">
                        <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="vehicleinsuranceParams.expiryDate" is-open="expiryDatePopup.opened " close-text="Close " placeholder="Expiry Date " show-weeks="false " required name="datePicker" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openExpiryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                    <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.datePicker.$touched">
                        <div class="error-validation" ng-show="vehicleInsForm.datePicker.$error.required">Expiry date is required</div>
                    </div>
                </div>
                <span data-ng-repeat="mobNum in vehicleinsuranceParams.mobileNumber track by $index ">
                <div class="col-md-8 num-box">
                    <div class="form-group" >
                       <ng-form name="innerForm">
                        <label>Mobile Number</label>
                        <input type="number" class="form-control" ng-model="mobNum.name"  placeholder="Enter the mobile number" required="" name="mobileNum">
                         <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.mobileNum.$touched">
                                <div class="error-validation" ng-show="innerForm.mobileNum.$error.required">Mobile number is   required</div>
                         </div>
                      </ng-form>  

                        
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-sm ren-mob-num-btn" ng-click="addNewNumber($index)" ng-show="showNumPlus($index)">
                       <i class="fa fa-plus" ></i>
                    </button>
                </div>

                <div class="col-md-1" ng-if="vehicleinsuranceParams.mobileNumber.length>1">
                        <button type="button" class="btn btn-sm ren-mob-num-btn" ng-click="deleteNewNumber($index)" >
                           <i class="fa fa-minus" ></i>
                        </button>
                </div>
            </span>
            </div>
        </div>
        <div class="row pol-btn">
            <input type="submit" class="btn btn-primary" value="Renew Vehicle Insurance Details"></input>
        </div>
    </form>
</div>
<div ng-show="saveVehicleInsMessage" class="alert alert-success alert-dismissible" ng-click="saveVehicleInsMessage=false">
    <button type="button" class="close" data-dismiss="alert" ng-click="error=false"><span aria-hidden="true">&times;</span></button>
    Insurance Renewed succefully
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>