<ng-include src="'/views/header.html'"></ng-include>

<div class="ins-section">
<div class="insurance-section" ng-init="loadApiRequests()">
    <div class="container">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search by Mobile Number" ng-model="vehicleInsSearchParams.mobileNumber" ng-keydown="searchVehcileIns($event)">
            <a class="search-icon">
                <i class="fa fa-search" ng-click="vehInsSearch()"></i>
            </a>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search by Vehicle Reg# (KL-07-BU-7198)" ng-model="vehicleInsSearchParams.vehicleNumber" ng-keydown="searchVehcileIns($event)" />
            <a class="search-icon">
                <i class="fa fa-search" ng-click="vehInsSearch()"></i>
            </a>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search by Policy Number" ng-model="vehicleInsSearchParams.policyNumber" ng-keydown="searchVehcileIns($event)">
            <a class="search-icon">
                <i class="fa fa-search" ng-click="vehInsSearch()"></i>
            </a>
        </div>
    </div>
</div>
<div class="row col-md-12" ng-if="vehicleInsSearchResults.length>0">
    <ul class="breadcrumb table-pad">
        <li ng-click="showSaveVehileInsForm()"><a><i class="fa fa-backward"><span class="back">Back</span></i></a>
        </li>
    </ul>
</div>

<div ng-show="saveVehicleInsMessage" class="alert alert-success alert-dismissible" ng-click="saveVehicleInsMessage=false">
    <button type="button" class="close" data-dismiss="alert" ng-click="error=false"><span aria-hidden="true">&times;</span></button>
    Insurace saved succefully
</div>

<div class="row table-pad" ng-if="vehicleInsSearchResults.length > 0">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-container">
                <thead class="table-header">
                    <tr>
                        <th>Make</th>
                        <th>Policy#</th>
                        <th>Vehicle#</th>
                        <th>Entry Date</th>
                        <!--  <th>Address</th> -->
                        <th>Phone#</th>
                        <th>Mobile#</th>
                        <!--    <th>Email</th> -->
                        <th>RC Owner</th>
                        <th>Present Owner</th>
                        <th>Premium</th>
                        <th>Expiry Date</th>
                        <th>Edit </th>
                        <th>Renewal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vehIns in vehicleInsSearchResults">
                        <td>{{vehIns.Make.VehicleMakeName}}</td>
                        <td>{{vehIns.PolicyNumber}}</td>
                        <td>{{vehIns.VehicleNumber}}</td>
                        <td>{{vehIns.EntryDate | date :"dd-MM-yyyy"}}</td>
                        <!--   <td>{{vehIns.Address}}</td> -->
                        <td>{{vehIns.PhoneNumber}}</td>
                        <td>{{vehIns.MobileNumber1}}</td>
                        <!--  <td>{{vehIns.Email}}</td> -->
                        <td>{{vehIns.RcOwner}}</td>
                        <td>{{vehIns.PresentOwner}}</td>
                        <td class="table-amount">{{vehIns.PremiumAmount | number:2 }}</td>
                        <td>{{vehIns.ExpiryDate | date :"dd-MM-yyyy"}}</td>
                        <td class="table-icon">
                            <i uib-tooltip="Edit Record" class="fa fa-pencil-square-o" ng-click="showEditVehicleInsModal($index)"></i>
                        </td>
                        <td class="table-icon">
                            <i uib-tooltip="Renewal" class="fa fa-recycle" ng-click="showRenewVehicleInsModal($index)"></i>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container ins-form-module" ng-if="vehicleInsSearchResults.length == 0">
    <div class="well col-sm-12 col-md-12">
        <form name="vehicleInsForm" class="css-form" novalidate ng-submit="saveVehicleInsDetails(vehicleInsForm)">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Entry Date</label>
                        <!--  <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="vehicleinsuranceParams.entryDate "  is-open="entryDatePopup.opened " close-text="Close " ng-click="openEntryDate() " placeholder="Entry Date "  required name="entryDatePicker"/> -->
                        <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="vehicleinsuranceParams.entryDate "  is-open="entryDatePopup.opened " close-text="Close "   placeholder="Entry Date "  required name="entryDatePicker"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEntryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                        
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.entryDatePicker.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.entryDatePicker.$error.required">Entry Date is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>RC Owner</label>
                        <input class="form-control" placeholder="Enter RC Owner" name="rcOwner" required="" ng-model="vehicleinsuranceParams.rcOwner">
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.rcOwner.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.rcOwner.$error.required">RC Owner is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Present Owner - Same as RC Owner </label> <input class="veh-checkbox" type="checkbox" ng-click="sameAsPresentOwner()" ng-model="vehicleinsuranceParams.sameAs">
                        <input class="form-control" placeholder="Enter Present Owner" name="presentOwner" required="" ng-model="vehicleinsuranceParams.presentOwner">
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.presentOwner.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.presentOwner.$error.required">Present Owner is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Land Line#</label>
                        <input class="form-control" placeholder="Enter Land Line Number" name="phoneNumber" ng-model="vehicleinsuranceParams.phoneNumber">
                        <!-- <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.phoneNumber.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.phoneNumber.$error.required">Phone nummber is required</div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" placeholder="Enter Email" name="email" type="email" ng-model="vehicleinsuranceParams.email ">
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.email.$touched">
                            <!--  <span class="error-validation" ng-show="vehicleInsForm.email.$error.required">Email is required</span> -->
                            <span class="error-validation" ng-show="vehicleInsForm.email.$error.email">This is not a valid email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows="4" placeholder="Enter Address" name="address" ng-model="vehicleinsuranceParams.address"></textarea>
                        <!--   <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.address.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.address.$error.required">Address is required</div>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group veh-make">
                        <div class="col-sm-10">
                            <label>Make</label>
                            
                            <select class="form-control" ng-options="item as item.VehicleMakeName for item in makeList track by item.VehicleMakeName" ng-model="vehicleinsuranceParams.make" class="form-control" name="policyType" required >
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-sm veh-make-btn" ng-click="addNewMake()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Premium Amount</label>
                        <input class="form-control" placeholder="Enter Premium Amount" type="number" required="" name="premiumAmount" ng-model="vehicleinsuranceParams.premiumAmount">
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.premiumAmount.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.premiumAmount.$error.required">Premium Amount is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Vehicle#</label>
                        <input class="form-control" placeholder="Enter Vehicle Reg# (KL-07-BU-7198)" required="" name="vehicleNumber" ng-model="vehicleinsuranceParams.vehicleNumber">
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.vehicleNumber.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.vehicleNumber.$error.required">Vehicle Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Policy#</label>
                        <input class="form-control" placeholder="Enter Policy Number" required="" name="policyNumber" ng-model="vehicleinsuranceParams.policyNumber">
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.policyNumber.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.policyNumber.$error.required">Policy Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                       <label>Expiry Date</label>
                       <!-- <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="vehicleinsuranceParams.expiryDate"  is-open="expiryDatePopup.opened " close-text="Close " ng-click="openExpiryDate() " placeholder="Expiry Date " show-weeks="false " required name="datePicker"/>
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.datePicker.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.datePicker.$error.required">Expiry date is required</div>
                        </div> -->


                         <p class="input-group">
                          <input type="text " class="form-control " uib-datepicker-popup="{{dateFormat}} " ng-model="vehicleinsuranceParams.expiryDate"  is-open="expiryDatePopup.opened " close-text="Close "  placeholder="Expiry Date " show-weeks="false " required name="datePicker"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openExpiryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                        <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.datePicker.$touched">
                            <div class="error-validation" ng-show="vehicleInsForm.datePicker.$error.required">Expiry date is required</div>
                        </div>
                    </div>
                    <span data-ng-repeat="mobNum in vehicleinsuranceParams.mobileNumber track by $index ">
                        <div class="col-md-8 num-box">
                            <div class="form-group" >
                               <ng-form name="innerForm">
                                <label>Mobile#</label>
                                <input type="number" class="form-control" ng-model="mobNum.name"  placeholder="Enter Mobile Number" required="" name="mobileNum">
                                 <div ng-show="vehicleInsForm.$submitted || vehicleInsForm.mobileNum.$touched">
                                        <div class="error-validation" ng-show="innerForm.mobileNum.$error.required">Mobile number is   required</div>
                                 </div>
                              </ng-form>  

                                
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm veh-mob-num-btn" ng-click="addNewNumber($index)" ng-show="showNumPlus($index)">
                               <i class="fa fa-plus" ></i>
                            </button>
                        </div>

                        <div class="col-md-1" ng-if="vehicleinsuranceParams.mobileNumber.length>1">
                                <button type="button" class="btn btn-sm veh-mob-num-btn" ng-click="deleteNewNumber($index)" >
                                   <i class="fa fa-minus" ></i>
                                </button>
                        </div>
                    </span>
                </div>
            </div>
            <div class="row pol-btn">
                <input type="submit" class="btn btn-primary" value="Save Vehicle Insurance Details" ng-disabled="saveVehInsButtonDisabled"></input>
            </div>
        </form>
    </div>
</div>
</div>
<ng-include src="'/views/footer.html'"></ng-include>
